## Домашнее задание 6

### Взаимосвязь величин. Параметрические и непараметрические показатели корреляции. 

### Корреляционный анализ

#### 1. Доходность двух активов за 8 периодов представлена в таблице:

In [1]:
import pandas as pd

In [2]:
tabledata = [[1, 12, 14],
         [2, 10, 18],
         [3, 10, 13],
         [4, 8, 10],
         [5, -5, 12],
         [6, -3, -7],
         [7, 10, -2],
         [8, 7, 10]]

In [6]:
df = pd.DataFrame(tabledata, columns=["Периоды","Доходность актива Х", "Доходность актива Y"])
df

   Периоды  Доходность актива Х  Доходность актива Y
0        1                   12                   14
1        2                   10                   18
2        3                   10                   13
3        4                    8                   10
4        5                   -5                   12
5        6                   -3                   -7
6        7                   10                   -2
7        8                    7                   10

#### Определить коэффициент корреляции доходностей активов X и У.

In [5]:
df.corr()

                      Периоды  Доходность актива Х  Доходность актива Y
Периоды              1.000000            -0.393560            -0.636688
Доходность актива Х -0.393560             1.000000             0.396721
Доходность актива Y -0.636688             0.396721             1.000000

#### 2. Дана корелляционная  таблица случайного вектора (X,Y). Вычислите ковариацию cov(X,Y).

In [7]:
tabledata = [[-2, 0.1, 0, 0.2],
         [0, 0.05, 0.2, 0],
         [1, 0, 0.2, 0.05],
         [7, 0.1, 0, 0.1]]

In [8]:
df = pd.DataFrame(tabledata, columns=["X/Y","-6", " 0", "3"])
df

   X/Y    -6    0     3
0   -2  0.10  0.0  0.20
1    0  0.05  0.2  0.00
2    1  0.00  0.2  0.05
3    7  0.10  0.0  0.10

In [9]:
df.cov()

           X/Y        -6         0         3
X/Y  15.000000  0.041667 -0.133333 -0.058333
-6    0.041667  0.002292 -0.005000  0.002708
 0   -0.133333 -0.005000  0.013333 -0.008333
3    -0.058333  0.002708 -0.008333  0.007292

#### 3. Определите коэффициент корреляции из № 2.

In [10]:
df.corr()

          X/Y        -6         0         3
X/Y  1.000000  0.224733 -0.298142 -0.176383
-6   0.224733  1.000000 -0.904534  0.662541
 0  -0.298142 -0.904534  1.000000 -0.845154
3   -0.176383  0.662541 -0.845154  1.000000

#### 4. Приведите примеры положительной корелляции из практики (5 примеров).

1. С увеличением температуры на улице увеличиваеться кол-во проданных холодных напитков.

2. С увеличением кол-ва посетителей в интернет-магазине увеличиваеться кол-во проданных товаров.

3. С увеличением кол-ва просмотров фильма, снятого по книге, увеличиваеться кол-во проданных книг.

4. Чем больше площадь квартиры, тем выше ее цена.

5. Чем больше людей покупают акции, тем сильнее растет их цена.

#### 5. Приведите примеры отрицательной корелляции  из практики (5 примеров).

1. Чем выше стоимость квартиры, тем меньше людей, желающих ее купить.

2. С увеличением температуры на улице уменьшается кол-во проданной теплой одежды.

3. С увеличением использования электротранспорта уменьшаеться количество СО2, выброшеного в атмосферу.

4. С увеличением потребления информации с электронных носителей уменьшаеться кол-во проданой бумаги.

5. С увелияением государтсвеннх программ переквалификации снижается уровень безработицы.