#task1

In [2]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
boston = load_boston()

In [3]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [7]:
data = boston["data"]

data.shape

(506, 13)

In [8]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
target = boston["target"]

target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [10]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [193]:
y = pd.DataFrame(target, columns=["price"])

pandas.core.frame.DataFrame

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)

In [20]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [53]:
from sklearn.metrics import r2_score
R2 = r2_score(y_test, y_pred)
R2

0.6799128298280106

#task2

In [196]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42).fit(X_train, y_train.values[:,0])
RFR_pred = model.predict(X_test)

In [108]:
R2_1 = r2_score(y_test, RFR_pred)
R2_1

0.8749965273218174

In [ ]:
#RFR модель работает лучше, точность больше на 0,195

#task3

In [136]:
fi = model.feature_importances_

# Сумма всех показательей важности
sum(fi)

1.0

In [137]:
for i in zip(feature_names, sorted(fi, reverse=True)):
    print(i)

# Наибольшая важность - 'CRIM', 'ZN'

('CRIM', 0.4156789214509943)
('ZN', 0.402704591696731)
('INDUS', 0.06403265381454112)
('CHAS', 0.0321174780102904)
('NOX', 0.018089605464908655)
('RM', 0.014368315731541832)
('AGE', 0.014244766864655404)
('DIS', 0.012311395829965457)
('RAD', 0.011691768621898036)
('TAX', 0.007094098492215253)
('PTRATIO', 0.004967618842627067)
('B', 0.0015499893488862256)
('LSTAT', 0.0011487958307451888)

In [152]:
important_features = [
    feature
    for feature, weight in zip(feature_names, sorted(fi, reverse=True))
    if weight > 0.4
]

['CRIM', 'ZN']